body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c36;
    font-family: 'Roboto', sans-serif;
    background-image: url(./photo-1596437974652-b146e5833dbd.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clock {
    display: flex;
    gap: 30px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #0A3B62;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.time {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.label {
    font-size: 1rem;
    color: #ffffff;
    text-transform: uppercase;
}

.ampm {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}
/* 
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }
} */
